# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

apa.csl
deployment.xml
misc.xml
modules.xml
profiles_settings.xml
project.qmd
references.bib
vcs.xml
W.MSCIDS_CIP02.H25_BB_MT_XS.iml
